spring:
  datasource:
    url: jdbc:postgresql://10.146.0.2:5432/postgresql
    username: postgresql
    password: postgrespassword
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      ddl-auto: update
  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672